.idea/
tasks_run/scripts/__pycache__/*
.DS_Store
venv/
.vscode
local_venv/
.DS_Store
tasks_run/rifg_materials/event_CSVs
docker_run/current_monitor_information.csv

tasks_run/data/sambashare/*
!tasks_run/data/sambashare/
!tasks_run/data/sambashare/.gitkeep

tasks_run/data/localizer_data/subj_space_masks/*
!tasks_run/data/localizer_data/subj_space_masks/
!tasks_run/data/localizer_data/subj_space_masks/.gitkeep

tasks_run/tmp_outdir/*
!tasks_run/tmp_outdir/
!tasks_run/tmp_outdir/.gitkeep

tasks_run/data/rifg_logs/*
!tasks_run/data/rifg_logs/
!tasks_run/data/rifg_logs/.gitkeep

tasks_run/data/nfb_logs/*
!tasks_run/data/nfb_logs/
!tasks_run/data/nfb_logs/.gitkeep

tasks_run/data/msit_logs/*
!tasks_run/data/msit_logs/
tasks_run/data/msit_logs/.gitkeep

tasks_run/data/rest_logs/*
!tasks_run/data/rest_logs/
tasks_run/data/rest_logs/.gitkeep


tasks_run/data/localizer_data/logs/*
!tasks_run/data/localizer_data/logs/
!tasks_run/data/localizer_data/logs/.gitkeep

docker_run/local_venv
docker_run/config.env

.DS_Store
.DS_Store

.ssh/
ssh/

docker_run/set_permissions/nohup.out
docker_run/set_permissions/nohup_process_id.txt

other/java-gui/target/classes/com/cohenlabnfb